@{
    ViewData["Title"] = "DB Panel";
}
<h1 class="text-center">Here you can manage db related Models</h1>

<div>
    <div class="row">
        <div class="col">
            <p>To manage the Operators data enter the following <a class="btn btn-sm btn-dark" asp-controller="Operators" asp-action="Index">Operators</a></p>
        </div>
    </div>

    <div  class="row">
        <div class="col">
            <br>
            <p>To manage the Sides data enter the following <a class="btn btn-sm btn-dark" asp-controller="Sides" asp-action="Index">Sides</a></p>
        </div>
    </div>

    <div  class="row">
        <div class="col">
            <br>
            <p>To manage the Loadouts data enter the following <a class="btn btn-sm btn-dark" asp-controller="Loadouts" asp-action="Index">Loadouts</a></p>
        </div>
    </div>
</div>
