@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All information was used for a university project and has no profit. All shown data does not belong to the creator of the site.</p>
