@model R6MIX.Models.ApiModels.Series

@{
    ViewData["Title"] = "Serie";
}

<div class="text-center">
    <h1 class="display-4 font-italic">@Model.name</h1>
    <p>
        @Model.begin_at
    </p>
</div>
<div>
</div>