/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



:root {
    --bg-main: #24262A;
    --bg-complementary: #222222;
    --text-primary-color: #fff;
    --text-grey: #6C757D;
    --text-dark: #24262A;
    --contrast-blue: #2499FF;
    --bg-grey: #C3C3C3;
}

.nav-pills .nav-link.active{
    background-color: var(--bg-grey)!important;
}

.nav-item .nav-link:hover {
    color: var(--text-primary-color)!important;
}

.table{
    color: var(--text-primary-color)
}

.bg-grey {
    background-color: var(--bg-grey);
}

.text-hover-grey:hover {
    color: var(--text-grey);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-logo {
    width: 150px;
    height: auto;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.nav-item .nav-link {
    color: var(--text-grey)
}

    .nav-item.nav-link:hover {
        color: var(--text-primary-color)
    }

.nav-link {
    color: var(--text-dark)
}

.nav-link:hover {
    color: var(--bg-complementary)
}

.enable-new-line {
    white-space: pre-wrap;
}

.navbar-dim {
    background-color: var(--bg-complementary) !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: var(--bg-main);
    color: var(--text-primary-color);
    font-family: 'Roboto Condensed', sans-serif;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: var(--bg-complementary);
}
